<launch>

<rosparam file="$(find robot_proyecto_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="robot_proyecto" args="Revolucion1_position_controller Revolucion2_position_controller Revolucion3_position_controller Revolucion4_position_controller Corredera5_position_controller Corredera6_position_controller Corredera7_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/robot_proyecto/joint_states"/>
</node>

</launch>
